<!DOCTYPE html>
<html lang="en" data-theme="corporate">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scholarship Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    {% load static %}
    <link href="{% static 'output.css' %}{% if debug %}?v={{ CACHE_BUSTER }}{% endif %}" rel="stylesheet" />
    {% block custom_css %} {% endblock %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="min-h-screen">
    {% block content %} {% endblock %} 
    {% block custom_js %} {% endblock %}
  </body>
</html>