{% extends 'base.html' %}

{% block content %}
 <!-- Navbar -->
<nav class="container flex justify-between mx-auto p-4">
    <div class="text-primary text-xl font-bold">ScholarshipFinder</div>
    <div class="flex gap-12">
        <input class="input input-primary" placeholder="Search scholarships...">
        <div x-data="{ open: false }" >
            <div @click="open = ! open" class="avatar avatar-placeholder">
                <div class="bg-neutral text-neutral-content w-10 rounded-full">
                    <span class="text-sm">J</span>
                </div>
            </div>
            <div x-show="open" @click.outside="open = false">
                <ul>
                    <li><a href=>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--   End Navbar-->

<main class="container mx-auto px-16">
    <section class="py-8">
        <p class="text-3xl font-bold text-gray-800">Welcome back, Jessy!</p>
        <p class="text-gray-600">Here are scholarship that match your preference</p>
    </section>

    <section>
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Recommended For You</h2>
        <div class="grid grid-cols-3 gap-16">
            {% if scholarships %}
                {% for scholarship in scholarships %}
                    <div class="bg-white rounded-xl border border-gray-200 shadow-xs p-4">
                        <div class="badge badge-soft badge-accent">{{ scholarship.type }}</div>
                        <p class="text-lg font-semibold text-gray-900 my-4">{{ scholarship.title }}</p>
                        <div class="space-y-2">
                            <div>
                                <i class="fas fa-graduation-cap mr-2 text-gray-400 w-4"></i>
                                <span>{{ scholarship.degree }}</span>
                            </div>
                             <div class="flex items-center">
                                 <i class="fas fa-map-marker-alt mr-2 text-gray-400 w-4"></i>
                                <span>{{ scholarship.country }}</span>
                            </div>
                        </div>
                        <div class="flex justify-between items-center mt-4">
                            <p class="text-error font-medium text-sm">Due: {{ scholarship.deadline }}</p>
                            <button class="btn btn-primary">View Details</button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No scholarships found.</p>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}